:root{
    --azul:  #6e7285;
}

/*---TOGGLE--*/
#modo {
    width: 15px;
    font-size: 35px;
    color: var(--gris);
    cursor: pointer;
    margin: auto;
}

.dark {
    background: var(--gris);
}

.dark .navbar {
    background: var(--fon2);
    background-color: rgba(0,0,0,0.2);
}

.dark .wrapper {
    background: var(--gris);
}

.dark .menu a {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dark .menu .active {
    color: var(--primario);
}

.dark .check img{
    background: var(--negro);
}

.dark .main p{
    color: var(--negro);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dark .abaut{
    background: var(--azul);
}

.dark .abaut p {
    color: var(--negro);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dark .abaut section p{
    color: var(--primario);
}

.dark .contact-section{
    background: var(--gris);
}

.dark .contact-section .form h4{
    color: var(--negro);
}

.dark .contact-section .form input {
    background: var(--primario);
    color: var(--negro);
}
.dark .contact-section .form textarea{
    background: var(--primario);
    color: var(--negro);
}

.dark .contact-section .form input:hover{
    background: var(--secundario);
    box-shadow: 3px 3px 11px -5px rgba(102,231,200,.69);
    color: var(--primario);
}

.dark .contact-section .form textarea:hover{
    background: var(--secundario);
    box-shadow: 3px 3px 11px -5px rgba(102,231,200,.69);
    color: var(--primario);
}

.dark .contact-section .form button:hover{
    background: var(--primario);
}

.dark .footer{
    background: var(--fon2);
    background-color: rgba(0,0,0,0.4);
}

.dark .arriba{
    border: 1px solid var(--negro);
}


.dark #modo {
    color: var(--negro);
}
/*---TOGGLE--*/


/*---MEDIA QUERI--*/

@media (max-width: 768px){
    .checkbtn{
        display: block;
    }

    .menu-icon{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .navbar .menu {
        display: block;
        position: absolute;
        top: 75px;
        left: -100%;
        background: var(--negro);
        width: 100%;
        height: 90vh;
        right: 0;
    }

    .navbar .menu li{
        padding: 3rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    #check:checked ~ ul {
       left: 0;
       transition: all .25s;
    }

    .navbar .menu li .active {
        color: var(--primario);
    }

      /*---MAIN---*/ 
    .main {
        margin: 0 auto;
        width: 80vw;
        height: 80vh;
        align-items: center;   
    }
    
    h1 {
        font-size: 2.5em;
        color: var(--primario);
    }
    
    .main p {
        color: var(--primario);
        width: 80%;

    }
    
    .main img {
        display: none;
        
    }
    /*---HABILIDADES---*/
    .abaut{
        height: 400px;
        display: block;
        background-color:  var(--fon2);
        border-top: 3px solid var(--negro);
        border-bottom: 3px solid var(--negro);     
    }

    .abaut img{
       display: none;    
    }

    .slkills-title{
       text-align: center;
       font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,  Cantarell, 'Open Sans', 'Helvetica Neue',    sans-serif;
       color: var(--primario);
       font-size: 30px;
       text-transform: uppercase;
       font-weight: bold; 
       margin-left: -10px; 
     }

     .skills p {
         margin-left: 35px;
     }

    .skills-skill{
       font-size: 20px;
       font-weight: 500;
       box-shadow: 0 4px 10px rgba(0,0,0,0.30);
       border-radius: 15px;
       padding: 0.5em 0.7em;
       margin: 10px;
       background: var(--primario);
       font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,  Cantarell, 'Open Sans', 'Helvetica Neue',     sans-serif;
       padding: 0.5em 0.7em;
    }

    .skills-list {
       list-style: none;
       padding: 0;

       display: flex;
       flex-wrap: wrap;
       justify-content: center;
    }
     section p{
        display: inline-block;
    }
    section hr{
        display: none;
    }

      
     /*---PROYECTOS--*/
 
    .our-projects .container-project{
         width: 100%;
         margin-left: 30%;
         margin-right: 0%;
    }

    .our-projects .container-project .project-title {
         width: 60%;
         margin-left:-35px;
         margin-bottom: 3em;
    }
    .container-img{
        width: 400px;
        margin-left: -90px;
       
    }

    .container-img a{
        font-size: 18px;
    }

     /*---CONTACTO--*/    
    .contact-section{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .container-contact{
        display: block;
    }
    
    .container-contact img{
        width: 400px;
        height: 400px;
        margin: 0;
        justify-content: center;
    }
    
    .form{
        width: 50vw;   
    }

    /*---ARRIBA--*/
    .arriba {
         width: 30px;
        height: 30px;
    }

    .arriba i {
         font-size: 20px; 
    }

    /*---PROYECTOS--*/
    .our-projects .container-project .project-title h2{
        font-size: 20px;
        align-items: center;
    }

    .our-projects .container-project .project-img a img {
        width: calc(50% - 10px);
        align-items: center
    }
 

};
    
/*---MEDIA QUERI--*/
